@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ccdfe0;
}

header {
    background-color: #b5bdb0;
    color: #000;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #adbfcc;
    padding: 15px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: crimson;
    cursor: pointer;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background:blueviolet;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

section {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #999393;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #444;
    color: #fff;
}

caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

h2{
    color: blueviolet;
}
p{
    color: crimson;
}
button {
    height: 30px;
    width: 100px;
    background-color: cadetblue;
    border: 2px solid #375e5f;
    color: white;
}
caption{
    color: #375e5f;
}
footer{
    height: 90px;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}